<!--index.vtl-->
<h1>CD Organizer</h1>


#if($cd)
  <p>Your last inputted CD was $cd.getTitle()</p>
#else
  <p>No CDs yet</p>
#end

<a href="/cds/new">Add a new CD</a>
<a href="/cds">View all current cds</a>

<!--index.vtl-->
