<!DOCTYPE html>
<html>
  <head>
    <title>CD Organizer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <!--begin main template-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">CD Organizer</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/genres/new">Add genre</a></li>
          <li><a href="/genres">View Genres</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      #parse( $template )
    </div>
    <!--end main template-->
  </body>
</html>
